[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
rent_flow = "29u6Rxe7tsrWFoUifHfvyYMqn3n9CBe5BmzuiPLk3CEJ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
seed = "npx ts-node -T scripts/seed_devnet.ts"
